// Mixins :
// ======
@mixin transform($string){
	-webkit-transform: $string;
       -moz-transform: $string;
        -ms-transform: $string;
         -o-transform: $string;
            transform: $string;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
       -moz-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

// Variables :
// =========
$base-color: #555;
$size: 32px;

// Extends:
// =======
.positions{position: absolute;left: 0;}

// -------- \\

[class^="picon-"] {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-style:normal;
    margin: 5px;
    &::before, &::after{
        content:'';
        pointer-events: none;
    }
}

/* papertxt */
.picon-papertxt{
    width: $size;height: $size;
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/2 + $size/4;height: $size - $size/10;border: $size/16 solid $base-color;top: -$size/$size;left: $size/16;@include border-radius(3px);
    }
    &::after{
        width: $size/2 + $size/8;height: $size/16;background: $base-color;left: $size/8 + $size/16;top: $size/4;box-shadow: 0 $size/6 0 0 $base-color, 0 $size/3 0 0 $base-color, 0 $size/3 + $size/6 0 0 $base-color;
    }
}

/* file */
.picon-file{
    width: $size/2 + $size/4;height: $size/2 + $size/5;margin-top: $size/4;border: $size/16 solid $base-color;border-top-width: 0;
    &::before, &::after{position: absolute;top: -$size/4 - $size/$size;}
    &::before{
        width: 0;height: 0;right: -$size/16;border-style: solid;border-width: $size/6;border-color: transparent transparent $base-color $base-color;
    }
    &::after{
        width: $size/2 + $size/$size;height: $size/4;left: -$size/16;border-style: solid;border-width: $size/16 0 0 $size/16;border-color: $base-color;
    }
}

/* credit */
.picon-credit{
    width: $size;height: $size/2 + $size/5;border: $size/16 solid $base-color;@include border-radius(3px);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size;height: $size/7;background: $base-color;top: $size/6;
    }
    &::after{
        width: $size/16;height: $size/8;background: $base-color;top: $size/2;left: $size/16;box-shadow: $size/8 0 0 $base-color, $size/4 0 0 $base-color;
    }
}

/* clock */
.picon-clock{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/10 solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: floor($size/10);height: $size/2.9;top: $size/8;left: $size/2.6;background: $base-color;
        width: $size/10;height: $size/2.9;top: $size/8;left: $size/2.6;background: $base-color;
    }
    &::after{
        width: $size/16 + $size/$size;height: $size/6.4 + $size/8;top: ($size/3.2) + ($size/16 + $size/$size);left: $size/6.4 + $size/8;background: $base-color;@include transform(rotate(45deg))
    }
}

/* clock2 */
.picon-clock2{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);background: $base-color;border: $size/10 solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;background: lighten($base-color, 100%)}
    &::before{
        width: floor($size/10);height: $size/2.9;top: $size/8;left: $size/2.6;
    }
    &::after{
        width: $size/16 + $size/$size;height: $size/6.4 + $size/8;top: ($size/3.2) + ($size/16 + $size/$size);left: $size/6.4 + $size/8;@include transform(rotate(45deg))
    }
}

/* monitor */
.picon-monitor{
    width: $size/8 * 7;height: $size/2 + $size/8;margin-top: -$size/4;border: $size/16 solid $base-color;
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/6;height: $size/6;background: $base-color;top: $size/2 + $size/4;left: $size/3 + $size/$size;
    }
    &::after{
        width: $size/3 + $size/$size;height: $size/16;background: $base-color;top: $size/8 * 7;left: $size/4;
    }
}

/* laptop */
.picon-laptop{
    width: $size/2 + $size/5.3;height: $size/2 + $size/16;border: $size/16 solid $base-color;border-bottom-width: 0;@include border-radius(3px 3px 0 0);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size;height: $size/5;background: $base-color;top: $size/2 + $size/16;left: -$size/6;
    }
    &::after{
        width: $size/3.5 + $size/$size;height: $size/16;background: lighten($base-color,80%);top: $size/1.6;left: $size/5.5;
    }
}

/* mobile */
.picon-mobile{
    width: $size/2 + $size/16;height: $size - $size/3.2;border: $size/16 solid $base-color;border-bottom-width: $size/5;border-top-width: $size/8;@include border-radius(3px);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/4;height: $size/16;background: lighten($base-color,50%);top: -$size/10;left: $size/6.4;
    }
    &::after{
        width: $size/8;height: $size/8;background: lighten($base-color,80%);top: $size - $size/3.5;left: $size/6.4 + 2;@include border-radius(20px);
    }
}

/* tablet */
.picon-tablet{
    width: $size - $size/3.2;height: $size/2 + $size/4;border: $size/10 solid $base-color;border-bottom-width: $size/6.4;@include border-radius(3px);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/16 + $size/$size;height: $size/16 + $size/$size;background: lighten($base-color,80%);top: $size/1.6 + $size/6.4;left: $size/6.4 + $size/8;@include border-radius(20px);
    }
    &::after{
    }
}

/* user */
.picon-user{
    width: $size;height: $size;
    &::before, &::after{@extend .positions;background: $base-color;}
    &::before{
        width: $size/3.2;height: $size/3.2;top: $size/4 + $size/$size;left: $size/3.2 + $size/$size;@include border-radius(20px);
    }
    &::after{
        width: $size - $size/8;height: $size/3.2;left: $size/16;top: $size - $size/3.2;@include border-radius(15px 15px 0 0);
    }
}

/* search */
.picon-search{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/3.2 + $size/16;height: $size/3.2 + $size/16;border: ($size/16 + $size/$size) solid $base-color;@include border-radius(20px);
    }
    &::after{
        width: ($size/16 + $size/$size);height: $size/3.2 + $size/6.4;background: $base-color;left: $size/2 + $size/$size;top: $size/3.2 + $size/$size;@include transform(rotate(-45deg));
    }
}

/* mug */
.picon-mug{
    width: ($size - $size/3.2) + ($size/8);height: $size;background: $base-color;-webkit-border-radius: 100px / 40px;-moz-border-radius: 100px / 40px;border-radius: 100px / 40px;
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/3.2 + $size/4;height: $size/6.4;top: $size/16 + $size/$size;left: $size/8;background: lighten($base-color,80%);-webkit-border-radius: 100px / 40px;-moz-border-radius: 100px / 40px;border-radius: 100px / 40px;
    }
    &::after{
        width: $size/6.4 + $size/16;height: $size/6.4 + $size/16;border: $size/16 + $size/$size solid $base-color;top: $size/3.2;left: $size/2 + $size/8;@include border-radius(0 3px 3px 0);
    }
}

/* list */
.picon-list{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);
    &::before, &::after{@extend .positions;background: $base-color;box-shadow: 0 $size/4 0 $base-color, 0 $size/2 0 $base-color;}
    &::before{
        width: $size/6.4 + $size/$size;height: $size/6.4 + $size/$size;top: $size/16;
    }
    &::after{
        width: $size/2 - $size/$size;height: $size/16;top: $size/8;left: $size/4;
    }
}

/* list2 */
.picon-list2{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);
    &::before, &::after{@extend .positions;background: $base-color;box-shadow: 0 $size/4 0 $base-color, 0 $size/2 0 $base-color;}
    &::before{
        width: $size/6.4 + $size/$size;height: $size/6.4 + $size/$size;top: $size/16;@include border-radius(20px);
    }
    &::after{
        width: $size/2 - $size/$size;height: $size/16;top: $size/8;left: $size/4;
    }
}

/* menu */
.picon-menu{
    width: $size - $size/8;height: ($size - $size/3.2) + $size/16;
    &::before, &::after{@extend .positions;}
    &::before{
        width:($size - $size/3.2) + ($size/8);height: $size/8;top: $size/16;left: $size/$size;background: $base-color;box-shadow: 0 $size/4 0 $base-color, 0 $size/2 0 $base-color;
    }
    &::after{
    }
}

/* menu2 */
.picon-menu2{
    width: $size - $size/1.2;height: ($size - $size/3.2) + $size/16;
    &::before, &::after{@extend .positions;}
    &::before{
        width:($size - $size/1.2);height: $size/8;top: $size/16;left: $size/$size;background: $base-color;box-shadow: 0 $size/4 0 $base-color, 0 $size/2 0 $base-color;
    }
    &::after{
    }
}

/* contrast */
.picon-contrast{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/3.2 + $size/8;height: ($size - $size/3.2) + ($size/8);background: $base-color;left: ($size/3.2) + ($size/16 + $size/$size);@include border-radius(0 10px 10px 0);
    }
    &::after{
    }
}

/* heart */
.picon-heart{
    width: $size/2 + $size/16;height: $size/2 + $size/16;background: $base-color;@include transform(rotate(45deg));
    &::before, &::after{@extend .positions;@include border-radius(100%);background: $base-color;width: $size/2 + $size/16;height: $size/2 + $size/16;}
    &::before{
        top: 0;left: -($size/6.4 + $size/8);
    }
    &::after{
        top: -($size/6.4 + $size/8);left: 0;
    }
}

/* poker */
.picon-poker{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;background: $base-color;}
    &::before{
        width: $size/8;height: $size/8;top: $size/4 - $size/$size;left: $size/6.4;@include border-radius(20px);box-shadow: $size/3.2 + $size/$size 0 0 $base-color;
    }
    &::after{
        width: $size/3.2 + $size/16;height: $size/16;top: $size/2 + $size/$size;left: $size/4 - $size/$size;
    }
}

/* wonder */
.picon-wonder{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;background: $base-color;}
    &::before{
        width: $size/8;height: $size/8;top: $size/4 - $size/$size;left: $size/6.4;@include border-radius(20px);box-shadow: $size/3.2 + $size/$size 0 0 $base-color;
    }
    &::after{
        width: $size/3.2 + $size/16;height: $size/16;top: $size/2 + $size/$size;left: $size/4 - $size/$size;@include transform(rotate(-20deg));
    }
}

/* notification */
.picon-notification{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;background: $base-color;}
    &::before{
        width: $size/8;height: $size/3.2 + $size/8;top: $size/16 + $size/$size;left: $size/3.2 + $size/$size;
    }
    &::after{
        width: $size/8;height: $size/8;top: ($size/2) + ($size/16 + $size/$size);left: $size/3.2 + $size/$size;
    }
}

/* plus */
.picon-plus{
    width: $size;height: $size;
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size - $size/8;height: $size/8 + $size/16;background: $base-color;top: ($size/3.2) + ($size/16 + $size/$size);left: $size/16;
    }
    &::after{
        width: $size/8 + $size/16;height: $size - $size/8;background: $base-color;top: $size/16;left: ($size/3.2) + ($size/16 + $size/$size);
    }
}

/* minus */
.picon-minus{
    width: $size;height: $size;
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size - $size/8;height: $size/8 + $size/16;background: $base-color;top: ($size/3.2) + ($size/16 + $size/$size);left: $size/16;
    }
    &::after{}
}

/* minuscircle */
.picon-minuscircle{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/2 + $size/8;height: $size/16 + $size/$size;background: $base-color;top: $size/3.2 + $size/16;left: $size/16 + $size/$size;
    }
    &::after{}
}

/* pluscircle */
.picon-pluscircle{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: 18px;height: $size/16 + $size/$size;background: $base-color;top: 11.333px;left: 2.222px;@include transform(rotate(90deg));
    }
    &::after{
        width: 18px;height: $size/16 + $size/$size;background: $base-color;top: $size/3.2 + $size/16;left: 4px;
    &::after{
    }
}

/* blocked */
.picon-blocked{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size - $size/8;height: $size/16 + $size/$size;background: $base-color;top: $size/3.2 + $size/16;left: -$size/$size;@include transform(rotate(45deg));
    }
    &::after{}
}

/* removecircle */
.picon-removecircle{
    width: ($size - $size/3.2) + ($size/8);height: ($size - $size/3.2) + ($size/8);border: $size/16 + $size/$size solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;}
    &::before{
        width: $size/2 + $size/8;height: $size/16 + $size/$size;background: $base-color;top: $size/3.2 + $size/16;left: $size/16 + $size/$size;@include transform(rotate(45deg));
    }
    &::after{
        width: $size/2 + $size/8;height: $size/16 + $size/$size;background: $base-color;top: $size/3.2 + $size/16;left: $size/16 + $size/$size;@include transform(rotate(-45deg));
    }
}

/* checkmark */
.picon-checkmark{
    width: $size;height: $size;
    &::before, &::after{@extend .positions;background: $base-color;}
  &::before{
        width: $size/8;height: $size/2;top: floor($size/1.882);left: $size/6.4;@include transform(rotate(-45deg));
    }
    &::after{
      width: $size/8;height: floor($size/1.163);top: floor($size/4.571);left: floor($size/1.777);@include transform(rotate(45deg));
    }
}

/* picon-power */
.picon-power{
    width: 28px;height: 28px;border: 4px solid $base-color;@include border-radius(100%);
    &::before, &::after{@extend .positions;background: $base-color;}
    &::before{
			width: 4px;height: 17px;top: -10px;left: 10px;border: 2px solid lighten($base-color, 100%);
    }
    &::after{
    }
}

/* picon-tag */
.picon-tag{
    width: 20px;height: 28px;background: $base-color;@include border-radius(3px);@include transform(rotate(45deg));
    &::before, &::after{@extend .positions;}
    &::before{
			width: 0;height: 0;left: floor($size/10.666);top: -(floor($size/5.333));border-style: solid;border-width: floor($size/2.285) 0 0 floor($size/2.285);border-color: $base-color transparent $base-color;@include transform(rotate(-45deg));
    }
    &::after{
			width: 6px;height: 6px;left: floor($size/4.776);top: 0px; background: lighten($base-color, 100%);@include border-radius(100%);
    }
}

/* picon-arrow-up */
.picon-arrow-up{
    width: $size;height: $size;left: 5px;//@include border-radius(3px);//@include transform(rotate(45deg));
    &::before, &::after{@extend .positions;}
    &::before{
			width: $size/2;height: 20px;left: 8px;top: 12px;background: $base-color;
		}
    &::after{
			width: 0;height: 0;top: 0;border-style: solid;border-width: 0px 16px 16px 16px;border-color: $base-color transparent $base-color;
    }
}

/* picon-arrow-down */
.picon-arrow-down{
  width: $size;height: $size;left: 5px;//@include border-radius(3px);//@include transform(rotate(45deg));
  &::before, &::after{@extend .positions;}
  &::before{
    width: $size/2;height: 20px;left: 8px;background: $base-color;
  }
  &::after{
    width: 0;height: 0;bottom: 0;border-style: solid;border-width: 16px 16px 0 16px;border-color: $base-color transparent $base-color;
  }
}

/* picon-image */
.picon-image {
	width: $size;height: 28px;@include border-radius(3px);border: $size/16 solid $base-color;
	&::before, &::after{@extend .positions;}
  &::before{
		width: 0;height: 0;top: 6px;border-style: solid;border-width: 0px 18px 20px 10px;border-color: $base-color transparent $base-color;left: 2px;
	}
  &::after{
		width: 5px;height: 5px;top: 5px;left: 22px;background: $base-color;@include border-radius(100%);
  }
}

/* picon-images */
.picon-images {
	width: $size;height: 28px;@include border-radius(3px);border: $size/16 solid $base-color;box-shadow: 2px -3px 0 $base-color;
	&::before, &::after{@extend .positions;}
  &::before{
		width: 0;height: 0;top: 6px;border-style: solid;border-width: 0px 18px 20px 10px;border-color: $base-color transparent $base-color;left: 2px;
	}
  &::after{
		width: 5px;height: 5px;top: 5px;left: 22px;background: $base-color;@include border-radius(100%);
  }
}

/* picon-equalizer */
.picon-equalizer {
	width: $size;height: $size;
	&::before, &::after{@extend .positions;}
  &::before{
		width: $size;height: $size/8;background: $base-color;box-shadow: 0 10px 0 $base-color, 0 20px 0 $base-color;
	}
  &::after{
		width: $size/4;height: $size/4;top: -2px;left: 7px;background: $base-color;box-shadow: 11px 10px 0 $base-color, 0 20px 0 $base-color;//@include border-radius(100%);
  }
}
/* picon-certificate */
.picon-certificate{
  width: $size/1.3;height: $size/1.3;left: 5px;background: $base-color;
  &::before, &::after{@extend .positions;}
  &::before {
    width: $size/1.3;height: $size/1.3;background: $base-color;@include transform(rotate(60deg));
  }
  &::after {
    width: $size/1.3;height: $size/1.3;background: $base-color;@include transform(rotate(24deg));
  }
}
