doctype html
html
  head
    title Picon - Simple and usefull icons.
    meta(charset="utf-8")
    meta(name="author", content="Amirhossein Eslami (@dot_amir)")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
    meta(name="description", content="Picon - Simple and usefull icons")

    link(rel="stylesheet", href="css/picon.css")


  body
    i(class="picon-papertxt")
    i(class="picon-file")
    i(class="picon-credit")
    i(class="picon-clock")
    i(class="picon-clock2")
    i(class="picon-monitor")
    i(class="picon-laptop")
    i(class="picon-mobile")
    i(class="picon-tablet")
    i(class="picon-user")
    i(class="picon-search")
    i(class="picon-mug")
    i(class="picon-list")
    i(class="picon-list2")
    i(class="picon-menu")
    i(class="picon-menu2")
    i(class="picon-contrast")
    i(class="picon-heart")
    i(class="picon-poker")
    i(class="picon-wonder")
    i(class="picon-notification")
    i(class="picon-plus")
    i(class="picon-minus")
    i(class="picon-pluscircle")
    i(class="picon-minuscircle")
    i(class="picon-blocked")
    i(class="picon-removecircle")
    i(class="picon-checkmark")
    i(class="picon-power")
    i(class="picon-tag")
    i(class="picon-arrow-up")
    i(class="picon-arrow-down")
    i(class="picon-image")
    i(class="picon-images")
    i(class="picon-equalizer")
    i(class="picon-certificate")
